<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="lista-tarefas" href="/tabs/lista-tarefas">
      <ion-icon aria-hidden="true" name="calendar-number-outline"></ion-icon>
      <ion-label>Tarefas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cadastra-tarefas" href="/tabs/cadastra-tarefas">
      <ion-icon aria-hidden="true" name="add-circle-outline"></ion-icon>
      <ion-label>Adicionar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="estatisticas-tarefas" href="/tabs/estatisticas-tarefas">
      <ion-icon aria-hidden="true" name="stats-chart"></ion-icon>
      <ion-label>Estatísticas</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
